@typeparam T

@if(Result is not null)
{
	<div>
		@if (ChildContent is not null && Result.Result is not null)
		{
			@ChildContent(Result.Result)
		}
		else
		{
			@Result.Result?.ToString()
		}
	</div>
}