<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazingApple.Algolia.Consumer.Web.styles.css" />
    <link href="_content/BlazingApple.Components/css/blazingAppleComponents.css" rel="stylesheet" />
    <script src="_content/BlazingApple.Components/scripts/blazingAppleComponents.js?cacheBust={version}"></script>
    <script src="_content/BlazingApple.Twitter/scripts/blazingAppleTwitter.js?cacheBust={version}"></script>
    <script src="https://kit.fontawesome.com/b7d59bd007.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
